.titulo-principal {
    color: #006400;
  }
  
  .subtitulo-principal {
    color: #6c757d; /* text-muted por si quieres asegurarlo */
  }
  
  .titulo-seccion {
    color: #006400;
  }
  
  .titulo-formato-administrativo {
    color: white;
  }
  