body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 150px;
    height: auto;
}

/* Header navbar */
.navbar {
    background-color: #000 !important;
    padding: 15px;
    position: relative;
    z-index: 10;
}

.navbar-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    background-color: transparent;
}

.navbar-nav .nav-link {
    font-size: 1.3rem;
    color: #1a9643 !important;  /* Verde */
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #f58021 !important;  /* Naranja */
    transform: scale(1.05); 
    text-decoration: none;
}

/* Botón hamburguesa */
.navbar-toggler {
    border: none;
    background: none;
}

.navbar-toggler-icon {
    background-image: none;
    width: 25px;
    height: 3px;
    background-color: #2a9d8f;
    display: block;
    position: relative;
    transition: background-color 0.3s ease;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #2a9d8f;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon::before,
.navbar-toggler:hover .navbar-toggler-icon::after,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    background-color: #f4a261;
}

/* Responsive nav */
@media (max-width: 768px) {
    .logo {
        width: 120px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        z-index: 1050;
        padding: 10px 0;
        border-top: 2px solid #2a9d8f;
    }

    .navbar-nav.show {
        display: block;
    }

    .navbar-nav .nav-link {
        width: 100%;
        text-align: left;
        border-top: 1px solid #444;
        font-size: 1.2rem;
    }
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
}

footer a img:hover {
    opacity: 0.75;
    transform: scale(1.1);
    transition: all 0.2s ease;
}
