<nav class="navbar navbar-expand-lg navbar-dark bg-black px-4">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo.svg" alt="Logo COONADOC" class="logo">
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-link text-green" [routerLink]="['/formatos']" routerLinkActive="active">Quiénes Somos</a>
      <a class="nav-link text-green" [routerLink]="['/servicios']" routerLinkActive="active">Afiliación y Servicios</a>
      <a class="nav-link text-green" [routerLink]="['/contactos']" routerLinkActive="active">Contacto y Soporte</a>
      <a class="nav-link text-green" [routerLink]="['/documentacion']" routerLinkActive="active">Documentación y Formatos</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- FOOTER -->
<footer class="py-5 mt-5 bg-black w-100">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Contacto -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold" style="color: #006400;">CONTACTO</h5>
        <ul></ul>
        <ul></ul>
        <p><strong>ATENCIÓN AL CLIENTE</strong></p>
        <p><strong>CORREOS</strong></p>
        <p><strong>DIRECCIÓN</strong></p>
      </div>

      <!-- Redes -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold" style="color: #006400;">REDES</h5>
        <ul></ul>
        <ul></ul>
        <div class="d-flex align-items-center mb-2">
          <img src="assets/whatsapp.svg" alt="WhatsApp" class="me-2" width="40" height="40">
          <strong>WHATSAPP</strong>
        </div>
        <ul></ul>
        <div class="d-flex align-items-center mb-2">
          <img src="assets/instagram.png" alt="Instagram" class="me-2" width="40" height="30">
          <strong>INSTAGRAM</strong>
        </div>
        <ul></ul>
        <div class="d-flex align-items-center mb-2">
          <img src="assets/facebook.png" alt="Facebook" class="me-2" width="38" height="40">
          <strong>FACEBOOK</strong>
        </div>
      </div>

      <!-- Funciones -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold" style="color: #006400;">FUNCIONES</h5>
        <ul></ul>
        <ul></ul>
        <p><strong>SERVICIOS</strong></p>
        <p><strong>EN LÍNEA</strong></p>
        <p><strong>CONTACTO</strong></p>
        <p><strong>CLASIFICADOS</strong></p>
      </div>
    </div>
  </div>
</footer>