<nav class="navbar navbar-expand-lg navbar-dark bg-black px-4">
  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <img src="assets/COONADOC.png" alt="Logo COONADOC" class="logo">
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" [class.show]="isMenuOpen" id="navbarNav">
    <div class="navbar-nav bg-black rounded p-3">
      <a class="nav-link custom-link" [routerLink]="['/formatos']" routerLinkActive="active" (click)="closeMenu()">Quiénes Somos</a>
      <a class="nav-link custom-link" [routerLink]="['/servicios']" routerLinkActive="active" (click)="closeMenu()">Afiliación y Servicios</a>
      <a class="nav-link custom-link" [routerLink]="['/contactos']" routerLinkActive="active" (click)="closeMenu()">Contacto y Soporte</a>
      <a class="nav-link custom-link" [routerLink]="['/documentacion']" routerLinkActive="active" (click)="closeMenu()">Documentación y Formatos</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="py-5 mt-5 bg-black w-100">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold" style="color: #006400;">CONTACTO</h5>
        <p [routerLink]="['/contactos']" routerLinkActive="active" (click)="closeMenu()"><strong>ATENCIÓN AL CLIENTE</strong></p>
        <p [routerLink]="['/contactos']" routerLinkActive="active" (click)="closeMenu()"><strong>CORREOS</strong></p>
        <p [routerLink]="['/contactos']" routerLinkActive="active" (click)="closeMenu()"><strong>DIRECCIÓN</strong></p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold" style="color: #006400;">REDES</h5>
        <div class="d-flex align-items-center mb-3">
          <img src="assets/whatsapp.svg" alt="WhatsApp" class="me-2" style="width: 30px; height: 30px;">
          <a href="https://wa.me/573115019158" target="_blank" class="btn btn-outline-success"><strong>WHATSAPP</strong></a>
        </div>
        <div class="d-flex align-items-center mb-3">
          <img src="assets/instagram.png" alt="Instagram" class="me-2" style="width: 30px; height: 30px;">
          <a href="https://instagram.com/coonadoc" target="_blank" class="btn btn-outline-danger"><strong>INSTAGRAM</strong></a>
        </div>
        <div class="d-flex align-items-center mb-3">
          <img src="assets/facebook.png" alt="Facebook" class="me-2" style="width: 30px; height: 30px;">
          <a href="https://facebook.com/coonadoc" target="_blank" class="btn btn-outline-primary"><strong>FACEBOOK</strong></a>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold" style="color: #006400;">NOSOTROS</h5>
          <p [routerLink]="['/formatos']" routerLinkActive="active" (click)="closeMenu()"><strong>QUIÉNES SOMOS</strong></p>
          <p [routerLink]="['/servicios']" routerLinkActive="active" (click)="closeMenu()"><strong>AFILIACIÓN Y SERVICIOS</strong></p>
          <p [routerLink]="['/contactos']" routerLinkActive="active" (click)="closeMenu()"><strong>CONCTACTO Y SOPORTE</strong></p>
          <p [routerLink]="['/documentacion']" routerLinkActive="active" (click)="closeMenu()"><strong>DOCUMENTACIÓN Y FORMATOS</strong></p>
      </div>
    </div>
  </div>
</footer>
